body {
    background-color: gainsboro;
}

.container {
  
    width: 320px;
    margin-left: 450px;
    margin-top: 30px;
}

.screen {
    height: 200px;
    width: 320px;
    background-color: gray;
    color: white;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
}

.keyboard {
    background-color: black;
    border: 2px var(--border) solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px;
    padding: 20px;
}

.buttonOrange {
    background-color: orange;
    border-radius: 50px;
    color: white;
    border-style: none;
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 5px;
}

.buttonDark {
    background-color: gray;
    border-radius: 50px;
    color: white;
    border-style: none;
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 5px;
}

.buttonGray {
    border-radius: 50px;
    color: black;
    border-style: none;
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 5px;
}

.button0 {
    border-radius: 50px;
    color: black;
    border-style: none;
    height: 60px;
    width: 130px;
    font-size: 30px;
    margin: 5px;
}

.row1 {
    background-color: black;
}